<% include layout.ejs %>
<script src="/socket.io/socket.io.js"></script>
<script src="./scripts/ticketBooking_client.js"></script>
<script>
  // var Seat = require('../models/seats');

  // function delTickets(ticket_id){
  //   console.log("del tickets called");
  //   Seat.remove({ 
  //     'id' : ticket_id,
  //   },function(err){
  //     if (err) return err
  //   })
  // }


  function delTickets(ticket_id) {
    console.log(ticket_id);
    socket.emit('delete tickets', { 
      ticket_id: ticket_id
    });
  }


</script>

<br>
<!-- <br> -->
<h2 class="ui center aligned icon header">
  <i class="circular add to cart icon"></i>
  My Cart
</h2>

<br> 
<div class="ui grid">


  <div class="ten wide column centered">
    <table class="ui unstackable table">
      <thead>
        <tr><th>Quantity</th>
          <th>Name</th>
          <th class="right aligned">Price</th>
          <th> </th>
        </tr></thead>
        <tbody>
          <% for (var i=0; i< tickets.length; i++) { %>
          <%= console.log(tickets[i]) %>
          <tr>
            <td>1</td>
            <td>Ticket</td>
            <td class="right aligned"> <%= tickets[i].price %> </td>

            <td>  
             <button type="button" class="ui button" value=<%= tickets[i].id %> onclick="delTickets( this.value )">Delete</button> 
           </td>
         </tr>
         <% } %>
       </tbody>
     </table>
   </div>
 </div>


 <% include footer.ejs %>