

<div style="background:#F9EECF;border:1px dotted black;text-align:center">

<h2> Found <%= fname %> <%=lname %> in the system </h2> 
    <!--<h2> Account Information </h2> 
        <h4 class="country"> Username: <%#=username %> </h4>
        <h4 class="country"> Status: <%#=status %> </h4>
-->
</div>